
@import "loader/ball-rotate";

@font-face {
	font-family: Helvetica; src:url('font/Helvetica Neue 55 Roman.ttf') format('truetype');
	font-weight:normal; font-style:normal;
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {

	padding: 0;
	overflow: hidden;

	background: #000;
	//color: #fff;

	//-webkit-filter: invert(100%);

	font-family: Helvetica;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	-moz-user-select: none;
}

a {
	background-color: transparent;
}
a:active,
a:hover {
	outline: 0;
}

//#videoplayer-container {
#videoplayer {

	z-index: 1;

	position: fixed;
	//right: 0;
	//bottom: 0;
	//left: 0;

	//width: 100%;
	//height: 100%;
//
	background: #00ff00;

	//transform: translate(0%,25%);

	-webkit-filter: brightness(1.2) grayscale(90%) contrast(170%);
	-moz-filter: brightness(1.2) grayscale(90%) contrast(170%);
	filter: brightness(1.2) grayscale(90%) contrast(170%);

	transition: opacity 0.2s;

	-webkit-user-select: none;
	-moz-user-select: none;

	pointer-events: none;
}

#loader {

	z-index: 100000;

	position: fixed;
	top: 50%;
	bottom: 50%;
	right: 50%;
	left: 50%;

	background: #000;

	.ball-rotate( 20px, #fff, 1s );
}

#title {

	z-index: 2;

	position: fixed;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-60%);

	color: #fff;
	mix-blend-mode: overlay;
	//opacity: 0.2;

	transition: opacity 0.5s;

	cursor: default;
	pointer-events: none;
}

#overlay {

	z-index: 1000;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: #000;

	transition: opacity 0.3s;
}
